.note-container {
  display: inline-block;
  width: 33.333vw;
  height: 33.333vw;
}

.note {
  background-color: #BDBDBD;
  padding: 5px;
  height: inherit;
}

.note-title {
  text-align: center;
  margin-top: 20px;
}

.note-body {
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .note-container {
    width: 50vw;
    height: 50vw;
  }

  .note {

  }
}

@media screen and (min-width: 900px) {
  .note-container {
    width: 25vw;
    height: 25vw;
  }

  .note {

  }
}