header {
  height: $header-height;
  background-color: #1D5090;
}

.add-button {
  float: right;
  margin: 9px;
  width: 80px;
  height: 40px;
  border: none;
  box-shadow: 0 1px 1px #6B6B6B;
}

.logo-icon {
  width: 40px;
  margin-top: -5px;
}

.logo {
  color: #FFF;
  font-size: 26px;
  padding-top: 14px;  
}

@media screen and (max-width: 500px) {
  .logo-icon {
    width: 40px;
    margin-top: -3px;
  }

  .logo {
    color: #FFF;
    font-size: 16px;
    padding-top: 13px;
  }
}