.note {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #555;
  // margin: 10px;
}

.add-button {
  float: right;
  margin: 9px;
  width: 80px;
  height: 40px;
  border: none;
  box-shadow: 0px 1px 2px #A9A9A9;
}

.add-icon {
  
}