@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
}

.container {
  min-height: 100%;
  background-color: #DDD;
}

.main {
  overflow:auto;
}

@media screen and (max-width: 768px) {
  .main {
    overflow:auto;
  }
}